<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <div class="card" *ngFor="let item of allPost">
    <p>{{ item.title }}</p>
    <h3>{{ item.source.id }}</h3>
  </div>
</div>

<!-- spinner -->

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-fall"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!--This message will show when there are no more post to load-->
<div *ngIf="!notEmptyPost">
  <p>No more item to show</p>
</div>
